 /* LMS Migration Tracking App CSS
Tim Schwichtenberg
tschwichtenberg@gmail.com */

.toolbar {
	padding:10px;
    background-color:#00446e;
}

.logo {
	height:80px;
	margin-top:5px;
	float: right;
}

.btn-primary {
	background-color:#00446e;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color:#00446e;
}

.toolbar h1 {
    color:#ffffff;
}

a:-webkit-any-link {
    text-decoration: none;
}
.okicon {
	color:green;
}

.removeicon {
	color:red;
}

.progress {
	background-color:#ffffff;
}

.buttongroup {
	margin-left:15px;
}

.batchbutton {
	width:100%;
	margin-bottom:3px;
}


.devnote {
	color:#00446e;
	margin-left:5px;
}

.searchrow {
	background-color:#CFD8DC;
}


.maincontainer {
	margin-top:20px;
}

.checkbox {
	margin-top:0px;
}

.batchselect {
	background-color:#ddd;
	text-align: center;
}

.batchinfo {
	background-color: #ddd;
	padding:10px;
	text-align: center;
	margin-left:0px;
	margin-right:0px;
} 

.batchstats {
	text-align: left;
}


.batchnav {
	margin-bottom:20px;
}

.infobox {
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    margin: 0px;
    margin-bottom:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.selectinstitution {
	padding: 20px;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.inputnoedit {
    border: none;
    background: transparent;
    width:140px;
}

.inputedit {
    width:140px;
}

.exportbutton {
    margin: 30px;
}

@media (max-width: 767px) {
    .checkbox {
        margin-top:20px;
    }
    .searchlabel {
    	margin-top:10px;
    }
}

@media (max-width: 991px) {
	.logo {
		display: none;
	}
}

