<div class="modal-header">
            <h4 class="modal-title" id="modal-title">Edit Assigned Users</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <table>
                <tr>
                    <td>Migration</td>
                    <td>{{ course.migration.migrationAssigned }}</td>
                </tr>
                            <tr>
                    <td>Cleaning</td>
                    <td>{{ course.cleaning.cleaningAssigned }}</td>
                </tr>
                            <tr>
                    <td>Technical</td>
                    <td>{{ course.technical.technicalAssigned }}</td>
                </tr>
                            <tr>
                    <td>QA</td>
                    <td>{{ course.qa.qaAssigned }}</td>
                </tr>
                            <tr>
                    <td>Signoff</td>
                    <td>{{ course.signoff.signoffAssigned }}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>