<div class="exportbutton">
<button class="btn btn-primary" ng-click="vm.exportToExcel('#devrytable', 'chamberlainmigration.xls')">Export to Excel</button>
</div>

<div>
<table class="table" id="devrytable">
    <tr>
        <th>Course Code</th>
        <th>Batch</th>
        <th>Migration Assigned</th>
        <th>Migration %</th>
        <th>Migration Date</th>
        <th>Cleaing Assigned</th>
        <th>Cleaning %</th>
        <th>Cleaning Date</th>
        <th>Technical Assigned</th>
        <th>Technical %</th>
        <th>Technical Date</th>
        <th>QA Assigned</th>
        <th>QA %</th>
        <th>QA Date</th>
        <th>Signoff Assigned</th>
        <th>Signoff %</th>
        <th>Signoff Date</th>
    </tr>
    <tr ng-repeat="course in vm.devry track by $index">
        <td>{{ course.courseId }}</td>
        <td>{{ course.batch }}</td>
        <td>{{ course.migration.migrationAssigned }}</td>
        <td>{{ course.migration.migrationStatus.toFixed() }}%</td>
        <td>{{ course.migration.migrationDate }}</td>
        <td>{{ course.cleaning.cleaningAssigned }} </td>
        <td>{{ course.cleanStat }}%</td>
        <td>{{ course.cleaning.cleaningDate }}</td>
        <td>{{ course.technical.technicalAssigned }}</td>
        <td>{{ course.techStat }}%</td>
        <td>{{ course.technical.technicalDate }}</td>
        <td>{{ course.qa.qaAssigned }}</td>
        <td>{{ course.qaStat }}%</td>
        <td>{{ course.qa.qaDate }}</td>
        <td>{{ course.signoff.signoffAssigned }}</td>
        <td>{{ course.signStat }}%</td>
        <td>{{ course.signoff.signoffDate }}</td>
    </tr>
</table>
</div>