<div class="container maincontainer">

	<div class="batchnav col-md-2">
        <div class="infobox">
            <input type="button" class="btn btn-primary" ui-sref="chamberlaintable" value="Raw Data" />
        </div>
  		<div class="infobox">
    		<div class="batches">	
				<uib-tabset active="activePill" vertical="true" type="pills">		
		   			<uib-tab active="{{course.batch}}" ng-repeat="course in vm.devry | unique: 'batch' | orderBy: 'batch'" class="batchtab" heading=" {{vm.batchDetails[vm.batchnumber].program}}" ng-click="vm.batchnumber = course.batch"></uib-tab>
		  		</uib-tabset>
  			</div>
  		</div>
		<div class="devnote infobox">
			<p>Developed by Tim Schwichtenberg & Peter Diltz<br><br>SISP Team &copy;2017</p>
		</div>
	</div>

    <div class="col-md-7">
        
		<div class="row infobox searchrow">
			<div class="col-sm-6 batchstats">
                <h4 style="color:#00446e;">Chamberlain {{ vm.batchDetails[vm.batchnumber].program }}</h4>
                <p><strong>Total Courses: {{ vm.batchTotal[vm.batchnumber] }}</strong></p>
				<p><strong>Started Migration: {{ vm.batchDetails[vm.batchnumber].started }} / {{ vm.batchTotal[vm.batchnumber]}} - ({{ ((vm.batchDetails[vm.batchnumber].started / vm.batchTotal[vm.batchnumber]) * 100).toFixed() }}%) </strong></p>
			</div> 
			<div class="col-sm-6 batchstats">
                <p><strong>Signoff Complete: {{ vm.batchDetails[vm.batchnumber].signedOff }} / {{ vm.batchTotal[vm.batchnumber]}} - ({{ ((vm.batchDetails[vm.batchnumber].signedOff / vm.batchTotal[vm.batchnumber]) * 100).toFixed() }}%)</strong></p>
                <p><strong>Signoff Due Date: {{ vm.batchDetails[vm.batchnumber].dateSignedOff }}</strong></p>
                <p></p>
            </div>

	</div>

		<uib-accordion close-others="true">
		    <div uib-accordion-group class="panel-default" ng-repeat="course in vm.devry | filter:search | filter: { batch: vm.batchnumber } | filterClean: cleanFilter | filterTech: techFilter |filterQa: qaFilter |filterSignoff: signoffFilter |orderBy: vm.sortOrder" ng-hide="(courseComplete == true && course.percentage == 100)">
		    <div uib-accordion-heading>
		    	<div class="row">
		    		<div class="col-xs-4">{{ course.courseId }}</div>
		    	<div class="col-xs-8"><uib-progressbar id="progbar" animate="true" class="progress-striped" value="course.percentage.toFixed()" type="{{ course.type }}"><b> {{ course.percentage.toFixed() }}% Complete</b></uib-progressbar></div>
		    	</div>
		    </div>		
		    	<div class="row">
					<div class="col-lg-12">
						<p>Learning Studio Course ID: {{ course.lsId }}</p>
						<p>Canvas Course ID: {{ course.canvasId }}</p>
						<br>
					</div>
				</div>
					<div class="row">
					<div class="col-lg-12">
	
			    			<table class="table table-striped table-condensed">
								<tr>
									<th></th>
									<th>
                                        <div ng-init="course.editing = false">Assigned &nbsp;
                                        <button class="btn btn-default btn-primary" ng-if="!course.editing"  ng-click="vm.editAssigned(course)">Edit</button>
                                    <button class="btn btn-default btn-success" ng-if="course.editing" ng-click="vm.saveEdit(course)">Save</button>
                                </div></th>
									<th>Complete</th>
									<th>Date Completed</th>
								</tr>
								<tr>
									<th>Migration</th>
                                    <td>
                                        <input class="inputnoedit" ng-if="!course.editing" value="{{ course.migration.migrationAssigned }}" readonly>
                                        <input class="inputedit" ng-if="course.editing" ng-model="course.migration.migrationAssigned">
                                    </td>
                                    <td>{{ course.migration.migrationStatus }}%</td>
                                    <td><div ng-init="vm.migComp(course)">
                                        <button class="btn btn-default btn-success" ng-if="course.migComplete"  ng-click="vm.migComplete(course)">Complete</button>
                                     &nbsp;{{ course.migration.migrationDate }} &nbsp;<button class="btn btn-default btn-danger" ng-if="!course.migComplete" ng-click="vm.migIncomplete(course)">X</button>
										</div>
									</td>
                                </tr>   
                                    
                                    
                                <tr>  
                                    <th>Cleaning</th>
                                    <td>
                                        <input class="inputnoedit" ng-if="!course.editing" value="{{ course.cleaning.cleaningAssigned }}" readonly>
                                        <input class="inputedit" ng-if="course.editing" ng-model="course.cleaning.cleaningAssigned">
                                    </td>
                                    <td>{{ course.cleanStat }}%</td>
                                    <td><div ng-init="vm.cleanComp(course)">
                                        <button class="btn btn-default btn-success" ng-if="course.cleanComplete"  ng-click="vm.cleanComplete(course)">Complete</button>
                                        &nbsp;{{ course.cleaning.cleaningDate }} &nbsp;<button class="btn btn-default btn-danger" ng-if="!course.cleanComplete" ng-click="vm.cleanIncomplete(course)">X</button>
										</div>
									</td>
                                </tr>
                                <tr>
                                    <th>Technical</th>
                                    <td><div>
                                        <input class="inputnoedit" ng-if="!course.editing" value="{{ course.technical.technicalAssigned }}" readonly>
                                        <input class="inputedit" ng-if="course.editing" ng-model="course.technical.technicalAssigned">
										</div>
                                    </td>
                                    <td>{{ course.techStat }}%</td>
                                    <td><div ng-init="vm.techComp(course)">
                                        <button class="btn btn-default btn-success" ng-if="course.techComplete"  ng-click="vm.techComplete(course)">Complete</button>
										&nbsp;{{ course.technical.technicalDate }} &nbsp;<button class="btn btn-default btn-danger" ng-if="!course.techComplete" ng-click="vm.techIncomplete(course)">X</button></div>
									</td>
										
                                </tr>
                                    
                                   <tr> 
                                       <th>QA</th>
                                    <td>
                                        <input class="inputnoedit" ng-if="!course.editing" value="{{ course.qa.qaAssigned }}" readonly>
                                        <input class="inputedit" ng-if="course.editing" ng-model="course.qa.qaAssigned">
                                    </td>
                                    <td>{{ course.qaStat }}%</td>
                                    <td><div ng-init="vm.qaComp(course)">
                                        <button class="btn btn-default btn-success" ng-if="course.qaComplete"  ng-click="vm.qaComplete(course)">Complete</button>
										&nbsp;{{ course.qa.qaDate }} &nbsp;<button class="btn btn-default btn-danger" ng-if="!course.qaComplete" ng-click="vm.qaIncomplete(course)">X</button></div>
									  </td>
                                </tr>
                                    
                                   <tr> 
                                       <th>Signoff</th>
                                    <td>
                                        <input class="inputnoedit" ng-if="!course.editing" value="{{ course.signoff.signoffAssigned }}" readonly>
                                        <input class="inputedit" ng-if="course.editing" ng-model="course.signoff.signoffAssigned">
                                    </td>
                                    <td>{{ course.signStat }}%</td>
                                    <td><div ng-init="vm.signComp(course)">
                                        <button class="btn btn-default btn-success" ng-if="course.signComplete"  ng-click="vm.signComplete(course)">Complete</button>
                                        &nbsp;{{ course.signoff.signoffDate }} &nbsp;<button class="btn btn-default btn-danger" ng-if="!course.signComplete" ng-click="vm.signIncomplete(course)">X</button>
										</div>
                                    </td>
									
								</tr>

							</table>

    				</div> 
				</div>
			</div>
		</uib-accordion>
	</div>

    <div class="col-md-3">
		<div class="infobox">
			
			<!-- Begin search items -->
			<div>
				<h4>Search by:</h4>
				
				<label class="searchLabel">Course: <input ng-model="search.courseId"></label>

				<label class="searchLabel">Migration Assigned: <input ng-model="search.migration.migrationAssigned"></label>

				<label class="searchLabel">Cleaning Assigned: <input ng-model="search.cleaning.cleaningAssigned"></label>

				<label class="searchLabel">Technical Assigned: <input ng-model="search.technical.technicalAssigned"></label>

				<label class="searchLabel">QA Assigned: <input ng-model="search.qa.qaAssigned"></label>

				<label class="searchLabel">Signoff Assigned: <input ng-model="search.signoff.signoffAssigned"></label>
			</div>
			<!-- End search items -->
			
			<hr>
			
			<!-- Begin filters -->
			<div>
			
				<h4>Filter by:</h4>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="courseComplete">Hide Completed Courses</label>
				</div>
				
				<div class="checkbox">
					<label><input type="checkbox" ng-model="cleanFilter">Unassigned Cleaning Courses</label>
				</div>
				
				<div class="checkbox">
					<label><input type="checkbox" ng-model="techFilter">Unassigned Technical Courses</label>
				</div>
				
				<div class="checkbox">
					<label><input type="checkbox" ng-model="qaFilter">Unassigned QA Courses</label>
				</div>
				
				<div class="checkbox">
					<label><input type="checkbox" ng-model="signoffFilter">Unassigned Signoff Courses</label>
				</div>
				

				<div class="checkbox">
					<label><input type="checkbox" ng-model="vm.sortByPercent" ng-change="vm.setSortOrder()">Sort by % Complete (Low to High)</label>
				</div>
			</div>
			
			<!-- End filters -->
		</div>
	</div>

</div>