<div class="container maincontainer">

	<div class="batchnav col-md-2">

  		<div class="infobox">
    		<div class="batches">	
				<uib-tabset active="activePill" vertical="true" type="pills">		
		   			<uib-tab active="{{course.batch}}" ng-repeat="course in vm.devry | unique: 'batch' | orderBy: 'batch'" class="batchtab" heading="Batch {{course.batch}}" ng-click="vm.batchnumber = course.batch"></uib-tab>
		  		</uib-tabset>
  			</div>
  		</div>
		<div class="devnote infobox">
			<p>Developed by Tim Schwichtenberg & Peter Diltz<br><br>SISP Team &copy;2017</p>
		</div>
	</div>

    <div class="col-md-7">
	<div class="row infobox searchrow">
			<div class="col-sm-6 batchstats">
                <h4 style="color:#00446e;">DeVry Batch {{vm.batchnumber}}</h4>
                <p><strong>Total Courses: {{ vm.devryTotal[vm.batchnumber] }}</strong></p>
				<p><strong>Started Migration: {{ vm.batchDetails[vm.batchnumber].started }} / {{ vm.devryTotal[vm.batchnumber]}} - ({{ ((vm.batchDetails[vm.batchnumber].started / vm.devryTotal[vm.batchnumber]) * 100).toFixed() }}%) </strong></p>
			</div> 
			<div class="col-sm-6 batchstats">
				<p><strong>DOS QA Complete: {{ vm.batchDetails[vm.batchnumber].completed }} / {{ vm.devryTotal[vm.batchnumber]}} - ({{ ((vm.batchDetails[vm.batchnumber].completed / vm.devryTotal[vm.batchnumber]) * 100).toFixed() }}%)</strong></p>
                <p><strong>DOS QA Due Date: {{ vm.batchDetails[vm.batchnumber].dateCompleted }}</strong></p>
                <p><strong>Signoff Complete: {{ vm.batchDetails[vm.batchnumber].signedOff }} / {{ vm.devryTotal[vm.batchnumber]}} - ({{ ((vm.batchDetails[vm.batchnumber].signedOff / vm.devryTotal[vm.batchnumber]) * 100).toFixed() }}%)</strong></p>
                <p><strong>Signoff Due Date: {{ vm.batchDetails[vm.batchnumber].dateSignedOff }}</strong></p>
                <p></p>
            </div>

	</div>


		<uib-accordion close-others="true">
		    <div uib-accordion-group class="panel-default" ng-repeat="course in vm.devry | filter:search | filter: { batch: vm.batchnumber } | orderBy: vm.sortOrder" ng-hide="(courseComplete == true && course.percentage == 100)">
		    <div uib-accordion-heading>
		    	<div class="row">
		    		<div class="col-xs-4">{{ course.courseId }}</div>
		    		<div class="col-xs-8"><uib-progressbar id="progbar" animate="true" class="progress-striped" value="course.percentage.toFixed()" type="{{ course.type }}"><b> {{ course.percentage.toFixed() }}% Complete</b></uib-progressbar></div>
		    	</div>
		    </div>		
		    	<div class="row">
					<div class="col-lg-12">
						<p>Learning Studio Course ID: {{ course.lsId }}</p>
						<p>Canvas Course ID: {{ course.canvasId }}</p>
						<br>
					</div>
				</div>
					<div class="row">
					<div class="col-lg-12">
	
			    			<table class="table table-striped table-condensed">
								<tr>
									<th></th>
									<th>Assigned </th>
									<th>Complete</th>
									<th>Date Completed</th>
								</tr>
								<tr>
									<th>Migration</th>
                                    <td>{{ course.migration.migrationAssigned }}</td>
                                    <td>{{ course.migration.migrationStatus.toFixed() }}%</td>
                                    <td>{{ course.migration.migrationDate }}</td>
                                </tr>   
                                    
                                    
                                <tr>  
                                    <th>Cleaning</th>
                                    <td>{{ course.cleaning.cleaningAssigned }} </td>
                                    <td>{{ course.cleanStat }}%</td>
                                    <td>{{ course.cleaning.cleaningDate }}</td>
                                </tr>
                                <tr>
                                    <th>Technical</th>
                                    <td>{{ course.technical.technicalAssigned }}</td>
                                    <td>{{ course.techStat }}%</td>
                                    <td>{{ course.technical.technicalDate }}</td>
                                </tr>
                                    
                                   <tr> 
                                       <th>QA</th>
                                    <td>{{ course.qa.qaAssigned }}</td>
                                    <td>{{ course.qaStat }}%</td>
                                    <td>{{ course.qa.qaDate }}</td>
                                </tr>
                                    
                                 <tr> 
                                    <th>Signoff</th>
                                    <td>{{ course.signoff.signoffAssigned }}</td>
                                    <td>{{ course.signStat }}%</td>
                                    <td>{{ course.signoff.signoffDate }}</td>
								</tr>

							</table>

    				</div> 
				</div>
			</div>
		</uib-accordion>
	</div>


<div class="col-md-3">
		<div class="infobox">
			
			<!-- Begin search items -->
			<div>
				<h4>Search by:</h4>
				
				<label class="searchLabel">Course: <input ng-model="search.courseId"></label>

				<!--<label class="searchLabel">Migration Assigned: <input ng-model="search.migration.migrationAssigned"></label>

				<label class="searchLabel">Cleaning Assigned: <input ng-model="search.cleaning.cleaningAssigned"></label>

				<label class="searchLabel">Technical Assigned: <input ng-model="search.technical.technicalAssigned"></label>

				<label class="searchLabel">QA Assigned: <input ng-model="search.qa.qaAssigned"></label>

				<label class="searchLabel">Signoff Assigned: <input ng-model="search.signoff.signoffAssigned"></label>-->
			</div>
			<!-- End search items -->
			
			<hr>
			
			<!-- Begin filters -->
			<div>
			
				<h4>Filter by:</h4>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="courseComplete">Hide Completed Courses</label>
				</div>
				

				<div class="checkbox">
					<label><input type="checkbox" ng-model="vm.sortByPercent" ng-change="vm.setSortOrder()">Sort by % Complete (Low to High)</label>
				</div>
			</div>
			
			<!-- End filters -->
		</div>
	</div>